<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<title>Listado de Usuarios</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

	<link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.bootstrap5.css">
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
	<script src="https://cdn.datatables.net/2.3.2/js/dataTables.bootstrap5.js"></script>
	<link rel="stylesheet" th:href="@{/css/admin.css}">
	<link rel="stylesheet" th:href="@{/css/dataTable.css}">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
	<div th:if="${Alert != null}">
	    ALERT FUNCIONA
	</div>
	<div class="d-flex" style="min-height: 100vh;">

		<div class="sidebar p-3 d-flex flex-column" style="width: 250px; background-color: rgba(0, 0, 0, 0.3);">
			<a th:href="@{/}" class="text-white text-decoration-none text-center mb-4 mt-2">
				<h3 style="color: var(--color-acento-principal); font-weight: bold;">MundoGamer</h3>
				<small>Panel de Control</small>
			</a>
			<hr class="text-white">
			<ul class="nav nav-pills flex-column mb-auto">
				<li class="nav-item mb-2">
					<a th:href="@{/admin/lista-juegos}" class="nav-link text-white item-sidebar">
						<i class="bi bi-joystick"></i> Gestión de Juegos
					</a>
				</li>
				<li class="nav-item mb-2">
					<a th:href="@{/admin/lista-categorias}" class="nav-link text-white item-sidebar">
						<i class="bi bi-list-stars"></i> Categorias
					</a>
				</li>
				<li class="nav-item mb-2">
					<a th:href="@{/admin/lista-usuarios}" class="nav-link text-white active"
						style="background-color: var(--color-acento-principal);">
						<i class="bi bi-people-fill"></i> Usuarios
					</a>
				</li>
				<li class="nav-item mb-2">
					<a th:href="@{/admin/mensaje}" class="nav-link text-white item-sidebar">
						<i class="bi bi-chat-left-dots-fill"></i> Mensajes
					</a>
				</li>
				<li class="nav-item mb-2">
					<a th:href="@{/admin/lista-ventas}" class="nav-link text-white item-sidebar">
						<i class="bi bi-cart-check-fill"></i> Ventas
					</a>
				</li>
				<li class="nav-item mb-2 text-center">
					<form method="post" th:action="@{/logout}">
						<button type="submit" class="btn btn-link text-danger text-decoration-none">
							<i class="bi bi-box-arrow-right"></i> Cerrar Sesión
						</button>
					 </form>
				</li>
			</ul>
		</div>

		<div class="flex-grow-1 p-4 w-100">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center mb-4">
					<h2 class="mb-0">Gestión de Usuarios</h2>
				
					<a  th:href="@{/admin/registrar-usuario}" class="btn btn-success px-4 py-2"><i></i>Registrar</a>
				</div>

				<div class="row mb-3">
					<fieldset class="border border-2 border-dark pb-2">
						<legend class="float-none w-auto px-2">Filtro</legend>
						<form th:action="@{/admin/filtra-usuarios}" method="get" th:object="${filter_c}">
							<div class="row align-items-end">
								<div class="col-md-3">
									<label for="idCategoria" class="form-label">Estado</label>
									<div class="input-group">
										<span class="input-group-text"><i
												class="fa-solid fa-chalkboard-user"></i></span>
										<select class="form-select" th:field="*{estado}">
											<option value="">--Todos--</option>
											<option value="1">Activo</option>
											<option value="0">Inactivo</option>
										</select>
									</div>
								</div>
								<div class="col-md-3">
								</div>
								<div class="col-md-6 text-end">
									<button type="submit" class="btn btn-outline-dark">
										<i class="fa-solid fa-binoculars"></i> Buscar
									</button>
									<a th:href="@{/admin/lista-usuarios}" class="btn btn-outline-secondary">
										<i class="fa-solid fa-broom"></i> Limpiar
									</a>
								</div>
							</div>
						</form>
					</fieldset>
				</div>

				<div class="card card-admin p-4 shadow-lg">
					<table id="tbl-usuarios" class="table table-hover align-middle">
						<thead class="table-dark">
							<tr>
								<th>ID Cliente</th>
								<th>Nombre Completo</th>
								<th>Correo</th>
								<th>Teléfono</th>
								<th>Estado</th>
								<th class="text-center">Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cliente : ${lstClientes}">
								<td th:text="${cliente.idCliente}"></td>
								<td th:text="${cliente.nombres} + ' ' + ${cliente.apellidos}"></td>
								<td th:text="${cliente.correo}"></td>
								<td th:text="${cliente.telefono}"></td>
								<td>
									<span th:if="${cliente.estado == '1'}" class="badge bg-success">Activo</span>
									<span th:if="${cliente.estado == '0'}" class="badge bg-danger">Inactivo</span>
								</td>
								<td class="text-center">
									<a th:href="@{/admin/modificar-usuario/{id}(id=${cliente.idCliente})}" class="btn btn-sm btn-primary"><i></i>
										Editar</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<script>
			$(document).ready(function () {
				$('#tbl-usuarios').DataTable({
					language: {
						"lengthMenu": "Mostrar _MENU_ usuarios",
						"zeroRecords": "No se encontraron usuarios",
						"info": "Mostrando _END_ usuarios de _TOTAL_ ",
						"infoEmpty": "Mostrando 0 usuarios",
						"infoFiltered": "(filtrado de _MAX_ usuarios en total)",
						"search": "Buscar Usuario por Correo:",
						"paginate": {
							"first": "Primero",
							"last": "Último",
							"next": "Siguiente",
							"previous": "Anterior"
						}
					},
					pageLength: 10,
					lengthMenu: [5, 10, 20, 50],
					ordering: true,
					responsive: true,
					columnDefs: [
						{targets: [2], className: 'dt-left'},
						{targets: [5], orderable: false}
					]
				});
			});
		</script>
	</div>
	<div th:if="${Alert != null}">
	    <div th:utext="${Alert}"></div>
	</div>
</body>

</html>