.carrito-container {
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgb(242, 64, 93);
    padding: 30px;
    border-radius: 15px;
    color: white;
}
.table-carrito { color: white !important; }
.btn-pagar { background-color: rgb(242, 64, 93); color: white; border: none; }