.CategoriasGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 60px;
    padding: 20px 0;
}

.CategoryLink {
    text-decoration: none;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    flex: 1;
}
.Categorias {
    background-color: var(--color-fondo-tarjeta); 
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
}

.Categorias:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
}

.CatImagen {
    width: 100%;
    max-width: 100px;
    margin: 10px auto;
    display: block;
}

.Categorias b {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.Categorias .btn{
    background-color: var(--color-acento-principal) !important;
    border-color: transparent !important;
    color: white !important;
    width: 100%;
    
    margin-top: auto !important;
    padding: .375rem .75rem;
    font-weight: normal;
    text-decoration: none;
}

.Categorias .btn:hover {
    background-color: RGB(255, 127, 127) !important;
    border-color: RGB(255, 127, 127) !important;
}